<!DOCTYPE html>
<html>
<head>
    <title>理想国译丛-奥斯维辛：一段历史 (理想国译丛17)</title>
    <link href="/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<header>
    <a href="/">📚</a>
    <h4>
        理想国译丛-奥斯维辛：一段历史 (理想国译丛17), author:  [英] 劳伦斯·里斯
    </h4>
</header>
<div id="menu">
    <h4 style="letter-spacing: 2px">MENU</h4>
    <ul style="margin-left: 2rem">
        
            <li style="margin-top: 0.5rem;">
                <a href=/chapter/id_1 idx=0>
                    1
                </a>
            </li>
        
            <li style="margin-top: 0.5rem;">
                <a href=/chapter/id_2 idx=1>
                    2
                </a>
            </li>
        
            <li style="margin-top: 0.5rem;">
                <a href=/chapter/id_3 idx=2>
                    3
                </a>
            </li>
        
            <li style="margin-top: 0.5rem;">
                <a href=/chapter/id_4 idx=3>
                    4
                </a>
            </li>
        
            <li style="margin-top: 0.5rem;">
                <a href=/chapter/id_5 idx=4>
                    5
                </a>
            </li>
        
    </ul>
</div>

<script>
    window.localStorage.setItem('title', document.title );
</script>
</body>
</html>



