<!DOCTYPE html>
<html>
<head>
    <title>Read_Notes</title>
    <link href="/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<header>
    <a href="/">📚</a>
</header>
<main>
    <pre><%= content %></pre>
</main>

</body>
</html>



