<!DOCTYPE html>
<html>
<head>
    <title>Read_Notes</title>
    <link href="/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<header>
    <a href="/">📚</a>
</header>
<main>
    <pre>
 《奥斯维辛：一部历史》 
 --23:25:52 GMT+0800 (中国标准时间) 

 历史的回顾必须以揭示和再现真相为宗旨，但不能仅仅停留在历史事实上，我们回顾历史，是要从历史中得到对我们今天有用的经验和教训。里斯在与美国公共广播公司（PBS）的访谈中说，纳粹对犹太人的大屠杀是一桩“罪恶”，“历史学应该致力于引导人们懂得为什么会发生这样的罪恶，还有什么比这个目的更为重要呢？倘若不能懂得为什么发生这样的罪恶，你就不能环视这个世界，思考为什么它还会再次发生”。里斯还特别强调，这部纪录片不只是关于奥斯维辛的，“我们用奥斯维辛来讲一个更大的故事，用奥斯维辛为棱镜来认识灭绝屠杀的全过程，并对犯下这一罪恶的人们的心态有一些了解” 
 --23:25:55 GMT+0800 (中国标准时间) 

 “好人”如何能在特定的环境下变成恶魔。津巴多称之为人性中的“恶”，对此他写道：“我们曾目睹透露人性残酷面的各色症状，惊讶于善人如何轻易被环境改变，成为十分残酷的人，而且改变程度可以多么剧烈……虽然邪恶存在与任何环境中，但我们更近距离地检视了邪恶的繁殖地——监牢及战场。它们总是成为人性的严峻考验，在这两个地方，权威、权力及支配彼此混杂，受到秘密的掩饰时，这股力量会让我们搁置自己的人性，并从身上夺走人类最珍视的品质：关爱、仁慈、合作与爱。” [3] 奥斯维辛是一个被纳粹既当作监狱又当作战场的地方（当然还是一个供应奴工的地方），但事实上那既不是监狱也不是战场，而是纳粹统治下经由“累积式激进”形成，并作为永久“例外状态”而存在的“集中营”。 
 --23:25:58 GMT+0800 (中国标准时间) 
</pre>
</main>

</body>
</html>



