

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --dark-theme-bg:#363636;
    --dark-theme-clr: #dadada;
}
body {
    padding: 0.5rem;
    background-color: var(--dark-theme-bg);
    color: var(--dark-theme-clr);
    font-family: 华文中宋, Simsun;
}
body.light {
    background-color: #ccc;
    color: #333;
}

body::-webkit-scrollbar {
    width: 0.5rem;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
body::-webkit-scrollbar-thumb {
    background-color: #444;
}

header {
    margin-bottom: 0.5rem;
}
h1, h2, h3, h4, h5, h6, p {
    color: var(--dark-theme-clr);
}

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap:3px;
}
a {
    cursor: pointer;
    text-decoration: none;
    color: var(--dark-theme-clr);
}

li a:hover {
    color: #e9973f;
}
#style-controller {
    display: block;
}
#style-controller.hide {
    display: none;
}
#chapter-content{
    padding: 0.5rem;
}
#chapter-content p {
    line-height: 1.5;
    margin-bottom: 1rem;
    text-indent: 1.5rem;
    letter-spacing: 1px;
    font-size: 1.5rem;
}

input, textarea, select, option,button {
    background-color: transparent;
    padding: 5px 0.5rem;
    color: var(--dark-theme-clr);
    border: 1px solid #aaa;
    border-radius: 0.25rem;
    letter-spacing: 1px;
    cursor: pointer;
}


.light h1,
.light h2,
.light h3,
.light h4,
.light h5,
.light h6,
.light p ,
.light a{
    color: #333;
}
#file-list, #notes-list {
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 1rem;
    margin: 1rem;
}

blockquote {
    line-height: 1.5;
    border: 1px solid gray;
    padding: 0.5rem;
    border-radius: 5px;
}

pre {
    font-size: 1rem;
    line-height: 1.5;
    white-space: pre-wrap;
    word-wrap: break-word;
}